<!DOCTYPE html>>
<html xmlns:th="http://www.thymeleaft.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
            <style>
                .contenido{
                    text-align: center;
                    background-color: red;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    width: 500px;
                    height: 150px
                    overflow: auto;
                    margin-left: -200px;
                    margin-top: -125px;
                    border-radius: 20px;
                }
            </style>
    </head>
    <body>
        <div class="contenido">
            <h2>[[#{e403.titulo}]]</h2>
            <p>[[#{e403.text}]]</p>
            <a th:href="@{/}">[[#{accion.regresar}]]</a>
        </div>
    </body>
</html>
